@charset "utf-8";

@import url(//fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
@import "../bower_components/reveal.js/css/reveal.min.css";
@import "../bower_components/reveal.js/css/theme/solarized.css";

// syntax highlight theme
@import "../bower_components/highlightjs/styles/solarized_dark.css";

// overwride reveal default style
.reveal {
	img {
		border: 0 !important;
	}

	.fa {
		font-style: normal !important;
		font-family: FontAwesome !important;
	}

	code {
		font-family: 'Source Code Pro';
	}
}